@charset "UTF-8";
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.header{
	height: 70px;
	margin-bottom: 50px;
}
.logo{
	width: 308px;
	height: 69px;
	float: left;
	margin-right: 100px;
}
.menu{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}
.menu p{
	margin-left: 15px;
	font-style: italic;
	font-family: "微軟正黑體";
	font-size: 10px;
}
.content{
	-webkit-box-shadow: #666 0px 2px 3px;
}
.content h1{
	font-size: 35px;
	font-family: "微軟正黑體";
}
.content p{
	margin-top: 10px;
	font-family: "微軟正黑體";
}
.c_left{
	margin-top: -10px;
	width: 700px;
	float: left;
	background: white;
	margin-right: 10px;
}
.c_left p{
	margin-top: 10px;
}
.c_right img{
	margin-top: 10px;
	margin-left: 23px;
}
.c_right{
	margin-top: -10px;
	width: 280px;
	float: left;
	-webkit-box-shadow: #666 0px 2px 3px;
}
.c_right p{
	margin-left: 25px;
	font-size: 15px;
	margin-top: 5px;
	font-family: "微軟正黑體";
}
.buttom img{
	margin-top: 10px;
	margin-left: 60px;
}
.buttom h1{
	font-family: "微軟正黑體";
	font-size: 25px;
	margin-left: 15px;
}
.buttom p{
	font-family: "微軟正黑體";
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 10px;
}
.b_left{
	margin-top: 20px;
	background: lightblue;
	border-radius: 20px;
	width: 300px;
	float: left;
	margin-right: 50px;
	height: 350px;
}
.b_center{
	margin-top: 20px;
	background: lightblue;
	border-radius: 20px;
	width: 300px;
	float: left;
	margin-right: 50px;
	height: 350px;
}
.b_right{
	margin-top: 20px;
	background: lightblue;
	border-radius: 20px;
	width: 300px;
	float: left;
	height: 350px;
}
.b_right h1{
	margin-left: 55px;
}